div.homepage {
  display: block;
  margin: 0rem 0rem 3rem 0rem;
}

div.cover-image img {
  height: auto;
  width: auto;
}

div.short-about-us {
  padding: 4rem 0rem 4rem 0rem;
  text-align: center;
  margin: auto;
}

div.title {
  font-size: xxx-large;
}

div.subtext {
  margin: auto;
  width: 60%;
}

div.homepage div.socials {
  padding: 4rem 0rem 4rem 0rem;
  background-color: #b4a2b6;
  font-size: xxx-large;
  text-align: center;
  margin: auto;
  width: 100%;
}

div.homepage div.socials div.follow-us-text {
  font-size: xxx-large;
}

div.homepage div.socials div.follow-us-icons {
  size: 70px;
}

div.homepage div.socials div.follow-us-icons img.icon {
  padding: 4rem 0rem 0rem 0rem;
  color: white;
  height: 70px;
  width: auto;
}

div.homepage div.socials div.follow-us-icons a {
  text-decoration: none;
}

div.services {
  text-align: center;
  margin: auto;
}

div.services p.targeted-treatments-headline {
  font-size: xx-large;
}

div.services li {
  display: inline;
}

div.services li div.treatment-card {
  margin: 0rem 1rem 0rem 1rem;
  display: inline-flex;
  width: auto;
}

figure {
  background-color: #f1f1f1;
  margin-inline-start: 0rem;
  margin-block-start: 0rem;
  margin-inline-end: 0rem;
  margin-block-end: 0rem;
  display: block;
}

figcaption.treatment-name {
  font-size: x-large;
}

div.treatment-image {
  display: inline;
}

div.treatment-card {
  padding-top: 1rem;
}

div.treatment-card img {
  display: inline;
  height: auto;
  width: 15rem;
}

div.copyright {
  text-align: center;
  margin: auto;
  width: 50%;
}

@media screen and (min-width: 601px) {
  div.cover-image img {
    content: url("https://estellespaoakville.ca/images/cover.jpeg");
    min-width: 100%;
  }

  div#center div.subtext {
    font-size: xx-large;
  }
}

@media screen and (max-width: 600px) {
  div.cover-image img {
    content: url("https://estellespaoakville.ca/images/tallCover.jpeg");
    max-width: 100%;
  }

  div#center div.subtext {
    font-size: x-large;
  }
}
