nav.nav-bar {
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.16),
    0 0.1rem 0.7rem 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  display: block;
  width: 100%;
}

nav.nav-bar li {
  display: inline;
  float: left;
  width: auto;
}

nav.nav-bar img.icon {
  height: 3.1rem;
  width: auto;
}

nav.nav-bar li a {
  padding: 1rem 1rem 0rem 1rem;
  text-decoration: none;
  display: block;
}

nav.nav-bar div.left {
  float: left;
}

nav.nav-bar div.right li a {
  vertical-align: middle;
  font-size: large;
  height: 3rem;
}

nav.nav-bar div.right li a:visited {
  text-decoration: none;
}

@media screen and (min-width: 601px) {
  nav.nav-bar div.bars a.icon {
    display: none;
  }

  nav.nav-bar div a.icon img.bars-icon {
    display: none;
  }

  nav.nav-bar div.right li a {
    padding: 1.5rem 1rem 0rem 1rem;
  }

  nav.nav-bar div.right {
    float: right;
  }
}

@media screen and (max-width: 600px) {
  nav.nav-bar div.right li a {
    padding: 1rem 1rem 0rem 1rem;
  }

  nav.nav-bar div a.icon img.bars-icon {
    text-align: left;
    display: block;
    padding: 1rem;
    float: right;
    height: 2rem;
    width: auto;
  }

  
  nav.nav-bar.responsive li.hide {
    text-align: left;
    display: block;
    float: none;
  }

  div.options {
    padding: 4rem 0rem 0rem 0rem;
  }

  nav.nav-bar li.hide {
    display: none;
  }
}

@media screen and (max-width: 600px) {
}
